@import "@styles/media";

.root {
  min-height: calc(100vh - 82px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 73px;
  @include sm {
    justify-content: start;
    height: auto;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  background: var(--backgroundPrimary);
  max-width: 400px;
  border: 1px solid var(--strokesSecondary);
  border-radius: 5px;

  & > :first-child {
    margin-bottom: 10px;
  }

  @include sm {
    justify-content: start;
    max-width: 100%;
    flex-grow: 1;
    border: 0;
  }
}
